


<div class="container-login">
    
 

<h1 class="login-header">Log in</h1>

<form action="/login" method="POST">
<table>
		{{#if message}}
		<p>{{message}}</p>
	{{/if}}
	
<tr class="login-row">
<td><label for="username">Username: </label>	
<input type="text" name="username">	</td>
</tr>

<tr class="login-row">
<td><label for="password">Password: </label>	
<input type="password" name="password"></td>
</tr>
<tr>
	<td><button class="sendToBtn" type="submit">Log in</button></td>
</tr>

</table>
</form>

</div>
