<ul id="ul-layout">
 <div class="navbar-left"></div>

<div class="navbar-center">
  <li> <img class="logo" src="/images/logo.png " alt="logo"></img></li>
  </div>

<div class="navbar-right">
<li class="il-layout"><a href="/signup">Signup</a></li>
     <li class="il-layout"><a href="/login">Login</a></li>
</div>
</ul>

<h1>Log in 🔑</h1>
<form action="/login" method="POST">
	<label for="username">Username: </label>
	<input type="text" name="username">
	<label for="password">Password: </label>
	<input type="password" name="password">
	<button type="submit">Log in</button>
	{{#if message}}
		<p>{{message}}</p>
	{{/if}}
</form>



<a href="/logout">Log Out 👋</a>