body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


p{
  color: #133E5C;
}

a {
  color: #00b7ff;
}


button:hover{
  box-shadow: 2px 2px #88888880;
  cursor: pointer;
}

/* Index page START */
.container-index{
background-image: url("/images/restaurant.jpg");
background-size: cover;
background-position: center;
  width: auto;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
margin-top: 20px;
}

.container-index a{
  font-size: 22px;
  font-weight: 400;
  color: #013d62;
  text-decoration: none;
}

.headline-index{
  font-size: 40px;
  font-weight: 400;
  font-style: italic;
  color: #0A385C;
}
/* Index page END */

/* Login page START */

.container-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.container-login table {
  width: 500px;
}




/* Login page END */


/* Logo START*/

.logo{
  text-align: center;
  width: 200px;
  height: auto;
}

/* Logo END*/



/* Navbar Styling START*/

#ul-layout {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.il-layout {
  float: left;
}

.il-layout a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #133E5C;
}

/* Change the link color to #111 (black) on hover */
.il-layout a:hover {
  color:#AED7F5;
}

.navbar-left{
  display: flex;
  justify-content: start;
  align-items: center;
}

.navbar-left{
  display: flex;
  justify-content: end;
  align-items: center;
}

.navbar-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Navbar Styling END*/



/* Form START */
form{
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.test{
  height: 10em;
  padding-top: 10px;
}

.aktueller-filter-container{
  margin-top: -50px;
  text-align: center ;
}

.message{
  font-size: 16px;
  margin-top: -30px;
}
/* Form END */

/* Add Button START */
.createBtn{
background-color: #2c628b9a;
color: white; 
padding: 10px;
border: none;
border-radius: 5px;
margin-top: 15px;
width: 200px;
}
/* Add Button END */

/* Filter Button START */
.filterBtn{
background-color: #0A385C;
width: 150px;
color: white; 
padding: 10px;
border: none;
border-radius: 5px;
}
/* Filter Button END */





/* platzhalter START */
.platzhalter{
  height: 25px;
}
/* platzhalter END */





/* Select Tag Styyling START */
.section-one{
  display: flex;
  justify-content: space-evenly;
  align-items: start;
}


*:focus {
  outline: none;
}

select {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: 0;
  padding:10px;
  margin:-5px -20px 0px 0px;
}

.tag-filter{
  display:inline-block;
  vertical-align:top;
  overflow:hidden;
}

.tag-filter select option {
  display:inline-block;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  background-color: #AED7F5;
  
 
}
/* Select Tag Styling END */



/*Container for restuarnat list and map START */
.container{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
 
}

.restaurant-container{
  display: flex;
  width: 400px;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}



.info-container{
  width:400px;
  
}

.first-line-restaurant{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: -20px;
}

/*Container for restuarnat list and map END */

/* Restaurants styling START */

.restaurant{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0A385C;
  width: 680px;
  color: white;
  margin: 0px 0px 10px 0px;
  padding: 10px 0px 10px 20px;
}


.image-container{
  display: flex;
  justify-content: start;
  align-items: start;
  width: 300px;
  height: auto;
  
}

.info-container{
  padding: 30px;
}




.restaurant-img {
  width: 250px;
  text-align: center;
}


.tag-container{
  display:inline-block;
}
.tags{
  margin: 20px 20px 20px 0px;
  padding: 10px;
  border-radius: 20px;
  background-color: #AED7F5; 
}

.headline-restaurant{
  font-size: 24px;
 font-weight: 100;
 padding: 0;
 margin: 0px;
}

.details-container a{
  color: white;
  font-style:italic;
}

.details-container{
  margin: 10px 0px 10px 0px;
}

.addBtn{
  width: 30px;
  padding-right: 10px;
}


.restaurantBtn{
background-color: #51AEF5;
width: 150px;
color: white; 
padding: 10px;
border: none;
margin: 20px 20px 0px 0px;
border-radius: 5px;
}
/* Restaurants styling END */


/* Map styling START */

.map-container{
  display: flex;
  justify-content: start;
  align-items: flex-start;
}

#map{
  width: 42vw; 
  height: 55vh;
}


#marker {
  background-image: url('https://docs.mapbox.com/mapbox-gl-js/assets/washington-monument.jpg');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.mapboxgl-popup {
  max-width: 200px;
}


/* Map styling END */




/* Form Styling START especiall login. signup, edit and add */
.container-add{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  padding: 30px 0px 0px 0px;
}

.editH1{
  font-size: 24px;
  font-weight: 100;
  text-align: center;
}

.add-form{
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0;
}

label{
  font-size: 16px;
  font-weight: 100;
  color: #0A385C;
}

input{
  margin: 5px 10px 5px 10px;
  width: 100%;
  border: none;
  background-color: #AED7F5;
  padding: 10px;
}

table{
  width: 50%;
}


table select {
  height: 100px;
}

.login-row{
  margin-top: 10px;
}


.sendToBtn{
  background-color: #0A385C;
color: white; 
padding: 10px;
border: none;
border-radius: 5px;
margin-top: 15px;
width: 100%;
margin: 5px 10px 5px 10px;
}
/* Form Styling END */

/* login and signup styling START */
.login-header{
  font-size: 32px;
  font-weight: 600;
  color: #0A385C;
  margin: 50px;
}

/* login and signup styling END */


/* DEtails START */

.mapDetails{
width: 100vw;
height: 100vh;
}

.containerForDetails{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #0A385C;
  padding: 20px;
  
}

.containerForDetails h4, h1{

  color:white;
}

.restaurant-img-details{
  width: 200px;
  height: auto;
}


.containerForDetails p {
  padding: 0;
  margin: 0;
  color: white;
}

.detailsColumn{
  padding: 0px 10px 10px 10px;
}
 


/* DEtails END */