
<ul id="ul-layout">

 <div class="navbar-left">
  <li class="il-layout"><a href="/my-restaurants">My restaurants</a></li>
  <li class="il-layout"><a href="/all">All restaurants</a></li>
</div>

<div class="navbar-center">
  <li> <img class="logo" src="/images/logo.png " alt="logo"></img></li>
  </div>

<div class="navbar-right">
 <li class="il-layout"><a href="/logout">Logout </a></li>
  <li class="il-layout"> {{#with user}}
<p>Hello {{username}}</p>
{{/with}}
</li>
</div>

</ul>

<h1>Add a new Restaurant</h1>
<form action="/all" method="POST" enctype="multipart/form-data">
	<ul>
        <li>
            <label for="">Restaurant name: </label>	
            <input type="text" name="name">
        </li>
        <li>
            <label for="">Street: </label>	
            <input type="text" name="street">
        </li>
        <li>
            <label for="">Num: </label>	
            <input type="number" name="houseNumber">
        </li>
        <li>
            <label for="">ZIP: </label>
            <input type="text" name="zipCode">
        </li>
        <li>
            <label for="">City: </label>	
            <input type="text" name="city">
        </li>
        <li>
            <label for="">Country: </label>	
            <input type="text" name="country">
        </li>
        <li>
            <label for="">Phone: </label>	
            <input type="text" name="telephone">
        </li>
        <li>
            <label for="">Website: </label>	
            <input type="url" name="url">
        </li>
        <li>
            <label for="">Image: </label>	
            <input type="file" name="imageUrl">
        </li>
        <li>
            <label for="">Tags: </label>	
        <select name="tags"  multiple>
{{#each tags}}
<option   >{{name}}</option>
{{/each}}
</select>
        </li>
        <li>
            <label for="">Description: </label>	
            <input type="text" name="description">
        </li>
    </ul>


	<button type="submit">Add</button>
</form>