

<div class="container-add"></div>
<form action="/all" method="POST" enctype="multipart/form-data">
<table class="add-form">
        <tr>
        <td>
            <label  for="">Restaurant name: </label>	
        </td>  
        <td>
            <input type="text" name="name">
        </td> 
        </tr>
         <tr>
           <td> <label  for="">Street: </label></td>	
            <td><input type="text" name="street"></td>
        </td>
        </tr>
        <tr>
           <td><label  for="">Num: </label></td>	
            <td><input type="number" name="houseNumber"></td>
        </tr>
       <tr>
          <td><label for="">ZIP: </label></td>
        <td><input type="text" name="zipCode"></td>
       </tr>
        <tr>
          <td><label for="">City*: </label>	</td>
          <td><input type="text" name="city" required></td>
       </tr>
        <tr>
           <td><label  for="">Country: </label>	</td>
           <td><input type="text" name="country"></td>
      </tr>
       <tr>
           <td><label  for="">Phone: </label>	</td>
            <td><input type="text" name="telephone"></td>
       </tr>
        <tr>
           <td><label class="label-add" for="">Website: </label>	</td>
           <td><input type="url" name="url"></td>
       </tr>
        <tr>
            <td><label  for="">Image: </label></td>	
            <td><input type="file" name="imageUrl"></td>
       </tr>
       <tr>
            <td><label  for="">Tags: </label>	</td>
      <td><select name="tags"  multiple>
{{#each tags}}
<option   >{{name}}</option>
{{/each}}
</select></td>
     </tr>
       <tr>
         <td><label class="label-add" for="">Description: </label></td>	
           <td><input type="text" name="description"></td>
       </tr>

<tr>
    <td></td>
<td>
	<button class="sendToBtn" type="submit">Add</button>
</td>
    </tr>
</form>
</table>
</div>
